:root {
  --body-background-color: #0e0f11;
  --container-background-color: #151619;
  --container-box-shadow-color: #0c0c0e;
  --container-width: 1100px;

  --font-primary: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --logo-size: 2.5rem;

  --brand-color: #aa51b8;
  --text-primary: #e4e6e7;
  --text-secondary: #8d9296;
  --link: #be68ce;
  --link-hover: #cc88d8;

  --input-background-color: #1d1f23;
  --input-background-color-disabled: #2e3138;
  --input-border-color: #353840;
  --input-text-primary: #c3c4ca;
  --input-text-secondary: #7a8085;
  --input-max-width: 450px;

  --button-background-color: #353840;
  --button-background-color-hover: #464953;
  --button-text-primary: #c3c4ca;

  --switch-width: 32px;
  --switch-height: 18px;
  --switch-padding: 2px;

  --low-color: #06c157;
  --low-bg-color: #1e2421;
  --medium-color: #f9c643;
  --medium-bg-color: #24221e;
  --high-color: #f93e3e;
  --high-bg-color: #241e1e;
}

::-moz-selection,
::selection {
  background-color: var(--brand-color);
  color: #ffffff;
}

body {
  margin: 0;
  background-image: url("../common/images/options_bg.png");
  background-repeat: repeat;
  background-color: var(--body-background-color);
  color: var(--text-primary);
  accent-color: var(--brand-color);
  font-size: 100%;
  font-family: var(--font-primary);
}
body > .container:first-child {
  width: min(100%, var(--container-width));
  margin: 0 auto;
  background-color: var(--container-background-color);
  box-shadow: 0 0 32px var(--container-box-shadow-color);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
  gap: 1rem;
  background-color: var(--container-background-color);
}
header > .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
header > .title-container > .icon {
  width: var(--logo-size);
  height: var(--logo-size);
}
header > .title-container > .title {
  margin: 0;
  font-size: 1.75rem;
}
header > #buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

main {
  display: none;
  padding: 0 2rem 2rem 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-top: 1px solid var(--input-border-color);
  font-size: 9pt;
}
footer > nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  list-style-type: none;
}

a,
a:visited {
  color: var(--link);
  transition: color 100ms ease-in-out;
}
a:hover,
a:visited:hover {
  color: var(--link-hover);
}

input[type="text"],
select {
  height: 30px;
  padding: 0 0.65rem;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  background-color: var(--input-background-color);
  color: var(--input-text-primary);
  vertical-align: middle;
}
input[type="text"]:disabled {
  background-color: var(--input-background-color-disabled);
  color: var(--input-text-secondary);
}
input[type="text"]::placeholder {
  font-style: italic;
}

input[type="button"],
input[type="submit"],
button {
  margin: 0.125rem 0;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 6px;
  background-color: var(--button-background-color);
  color: var(--button-text-primary);
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}
input[type="button"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
button:hover:not(:disabled) {
  background-color: var(--button-background-color-hover);
}
input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button-primary {
  background-color: var(--brand-color);
  color: #ffffff;
}
.button-primary:hover:not(:disabled) {
  background-color: var(--link-hover);
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  top: -0.1em;
  width: var(--switch-width);
  height: var(--switch-height);
  margin: 2px 4px 2px 0;
  padding: 0;
  border-radius: var(--switch-height);
  outline: none;
  background: var(--button-background-color);
  vertical-align: middle;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}
input[type="checkbox"]::before {
  position: absolute;
  top: var(--switch-padding);
  left: var(--switch-padding);
  width: calc(var(--switch-height) - 2 * var(--switch-padding));
  height: calc(var(--switch-height) - 2 * var(--switch-padding));
  border-radius: 50%;
  background: white;
  content: "";
  transition: transform 100ms ease-in-out;
}
input[type="checkbox"]:checked {
  background: var(--brand-color);
}
input[type="checkbox"]:checked::before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}
input[type="checkbox"]:disabled {
  opacity: 0.5;
}
input[type="checkbox"]:disabled + label {
  opacity: 0.5;
}

fieldset {
  border: 0;
}

small {
  color: var(--text-secondary);
  font-size: 9pt;
}

hr {
  margin: 2.5rem 0;
  border: 0;
  border-top: 1px solid var(--input-border-color);
}

.section {
  margin: 0 0 3rem 0;
}
.section:last-child {
  margin-bottom: 0;
}
.section h2 {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.3rem;
}

.tag {
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: var(--input-border-color);
  color: var(--input-text-primary);
  font-weight: 600;
  font-size: 0.65rem;
  text-transform: uppercase;
}

li.hide-marker::marker {
  display: none;
  content: "";
}

input[type="radio"]:not(:checked) ~ .store-list {
  opacity: 0.5;
}
.store-list > li > input {
  width: 100%;
  max-width: var(--input-max-width);
  margin-bottom: 0.25rem;
}

.options-list {
  margin-bottom: 0;
  list-style-type: none;
}
.options-list > li {
  position: relative;
  margin-bottom: 1rem;
}
.options-list > li > input[type="checkbox"] {
  position: absolute;
  left: calc(calc(var(--switch-width) + 8px) * -1);
}

.experience-container {
  position: relative;
}
.experience-container .separator {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--input-border-color);
}
.experience-container .segmented-control {
  display: flex;
  z-index: 1;
  position: relative;
  top: 0;
  left: 50%;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 2rem 0;
  padding: 0;
  overflow: hidden;
  transform: translateX(-50%);
  border: 1px solid var(--input-border-color);
  border-radius: 100vmax;
  background-color: var(--input-background-color);
}
.experience-container .segmented-control .segment {
  overflow: hidden;
  border-radius: 100vmax;
  text-align: center;
}
.experience-container .segmented-control .segment input {
  display: none;
}
.experience-container .segmented-control .segment label {
  display: block;
  margin: 0;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}
.experience-container .segmented-control .segment input:checked + label {
  background-color: var(--brand-color);
  color: #ffffff;
}
.experience-container .segmented-control .segment label:hover {
  box-shadow: inset 0 0 100vmax 100vmax rgba(255, 255, 255, 0.075);
}

#passport-level-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "image slider"
    ". usage"
    ". warning";
  column-gap: 1.25rem;
  row-gap: 0;
  align-items: center;
  margin: 1rem 0 1.5rem 0;
}

#passport-level-container .grid-image {
  grid-area: image;
}

#passport-level-image {
  height: 55px;
}

#passport-level-container .grid-slider {
  grid-area: slider;
  max-width: var(--input-max-width);
}
#passport-level-container .grid-slider.expert-mode > fieldset {
  margin: 0;
  padding: 0;
}

#passport-level-slider {
  width: 100%;
  max-width: var(--input-max-width);
  margin: 0;
}

#passport-level-slider-datalist {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  max-width: var(--input-max-width);
  text-align: center;
}
#passport-level-slider-datalist > option:first-child {
  text-align: left;
}
#passport-level-slider-datalist > option:last-child {
  text-align: right;
}

#passport-level-container .grid-usage {
  grid-area: usage;
  max-width: var(--input-max-width);
}
#passport-level-proxy-usage {
  width: 100%;
  max-width: var(--input-max-width);
  margin-top: 0.5rem;
  padding: 0;
  overflow: hidden;
  border: 1px solid var(--input-border-color);
  border-radius: 18px;
  background-color: var(--input-background-color);
}
#passport-level-proxy-usage[data-usage="low"] {
  border-color: var(--low-color);
  background-color: var(--low-bg-color);
}
#passport-level-proxy-usage[data-usage="medium"] {
  border-color: var(--medium-color);
  background-color: var(--medium-bg-color);
}
#passport-level-proxy-usage[data-usage="high"] {
  border-color: var(--high-color);
  background-color: var(--high-bg-color);
}

#passport-level-proxy-usage-summary {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
#passport-level-proxy-usage-summary::marker {
  content: none;
}
#passport-level-proxy-usage-summary::after {
  display: block;
  float: right;
  transform: translateY(-15%) rotate(-45deg);
  content: "∟";
  text-align: right;
}
#passport-level-proxy-usage[open] #passport-level-proxy-usage-summary::after {
  display: block;
  float: right;
  transform: translateY(30%) rotate(135deg);
  content: "∟";
  text-align: right;
}
#passport-level-proxy-usage[data-usage="low"]
  #passport-level-proxy-usage-summary:hover {
  background-color: var(--low-color);
  color: #000000;
}
#passport-level-proxy-usage[data-usage="medium"]
  #passport-level-proxy-usage-summary:hover {
  background-color: var(--medium-color);
  color: #000000;
}
#passport-level-proxy-usage[data-usage="high"]
  #passport-level-proxy-usage-summary:hover {
  background-color: var(--high-color);
  color: #000000;
}

#passport-level-proxy-usage-table {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  font-size: 0.7rem;
}
#passport-level-proxy-usage-table > tbody > tr > td:nth-child(2) {
  color: var(--text-secondary);
  text-align: right;
}

#passport-level-warning {
  display: none;
  grid-area: warning;
  margin-top: 0.75rem;
}

.proxy-mode-radio-buttons {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 0 1.25rem 1.25rem 1.25rem;
  }

  header > #buttons-container {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 0.25rem;
  }
  header > #buttons-container > button {
    width: 100%;
  }

  footer > nav > ul {
    gap: 0.5rem;
  }
}
